

<div style="background-color: white;margin:0.3em 3px 0 3px;position:relative;">
    <div class="ilt">&nbsp;</div>
    <div class="irt">&nbsp;</div>

    <tr >
        <th style="width:6em;" class="top left">#</th>
        <th class="top">When</th>
        <th class="top">Problem</th>
        <th class="top">Verdict</th>
    </tr>
        
    {% if recent_submissions%}
    <ul>
        {% for submission in recent_submissions %}
        <table >
        <tbody>
            <tr>
                <td >{{submission.time_stamp}}</td>
                <td ><a href="{{ submission.problem_id }}/problem">{{submission.problem_id}}</a></td>
                {% if submission.verdict == Accepted %}
                    <td style="background-color:MediumSeaGreen;">Accepted</td>
                {% else %}
                    <td style="background-color:Tomato;">Not Accepted</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
        <!-- <li><a href="{{ submission.problem_id }}/problem">{{ submission.verdict }}</a></li> -->
        {% endfor %}
    </ul>
    {% else %}
    <p>No submission available.</p>
    {% endif %}
</div>